body{
  background-color: #451a03;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.joke-container{
  width: 400px;
  min-height:  250px; 
  background-color:rgb(138,43,226);
  border-radius: 15px;
  padding: 12px;
}
.joke-container h1{
  border-bottom: 1px solid black;
  text-align: center;
}
.joke-container button{
  width: 100%;
  padding: 5px;
  background-color:#451a03 ;
  color: white;
  cursor: pointer;
}
.joke-container button:hover{
  background-color: #bef264;
}




